* {
  font-family:arial, serif;
  font-size:18px;
}
body {
  background : IndianRed;
  margin : 0px;
}

.row{
  width : 100%
}
/* begin relative design */
@media (min-width: 992px){
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
    float: left;
    border: 1px solid orange;
  }
  .col-lg-1{
    width : 8.33%;
  }
  .col-lg-2{
    width : 16.66%;
  }
  .col-lg-3{
    width : 25%;
  }
  .col-lg-4{
    width : 30.33%;
  }
  .col-lg-5{
    width : 41.66%;
  }
  .col-lg-6{
    width : 50%;
  }
  .col-lg-7{
    width : 58.33%;
  }
  .col-lg-8{
    width : 66.66%;
  }
  .col-lg-9{
    width : 75%;
  }
  .col-lg-10{
    width : 83.33%;
  }
  .col-lg-11{
    width : 91.66%;
  }
  .col-lg-12{
    width : 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
    float: left;
    border: 1px solid orange;
  }
  .col-md-1{
    width : 8.33%
  }
  .col-md-2{
    width : 16.66%;
  }
  .col-md-3{
    width : 25%;
  }
  .col-md-4{
    width : 33.33%;
  }
  .col-md-5{
    width : 41.66%;
  }
  .col-md-6{
    width : 47%;
  }
  .col-md-7{
    width : 58.33%;
  }
  .col-md-8{
    width : 66.66%;
  }
  .col-md-9{
    width : 75%;
  }
  .col-md-10{
    width : 83.33%;
  }
  .col-md-11{
    width : 91.66%;
  }
  .col-md-12{
    width : 96%;
  }
}

@media (max-width: 767px){
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
    float: left;
    border: 1px solid orange;
  }
  .col-sm-1{
    width : 8.33%;
  }
  .col-sm-2{
    width : 16.66%;
  }
  .col-sm-3{
    width : 25%;
  }
  .col-sm-4{
    width : 33.33%-20px;
  }
  .col-sm-5{
    width : 41.66%;
  }
  .col-sm-6{
    width : 50%;
  }
  .col-sm-7{
    width : 58.33%;
  }
  .col-sm-8{
    width : 66.66%;
  }
  .col-sm-9{
    width : 75%;
  }
  .col-sm-10{
    width : 83.33%;
  }
  .col-sm-11{
   width : 91.66%;
  }
  .col-sm-12{
    width : 94%;
  }
}

#box {
  padding: 10px;
  box-sizing : border-box;
  overflow:auto;
  border: 5px solid black;
  background-color: green;
  position:relative;
  margin:10px
}


#box.menu_item {
  background-color: DarkSalmon;
  padding-top : 50px;
}

h1 {
  font-size: 175%;
  text-align: center;
}

h1.menu_item {
  font-size: 125%;
  position: absolute;
  top: -20px;
  right: 0px;
  border: 1px solid black;
  background: Coral;
}

h1.menu_item.yellow {
  background : yellow;
}

h1.menu_item.green {
  background : Lime;
}
